/* =============
    Services
============= */

.services {
    .content {

        h1{
            text-align: center;
            font-weight: 400;

        }

        ul {
            list-style: none;
            padding: 0;
        
         display: grid;
          grid-template-columns: 100%;
         text-align: center;

           @include md {
                grid-template-columns: 50% 50%;
         }

            @include lg {
                grid-template-columns: 25% 25% 25% 25%;
           }
        
       }
    }
}