/* =============
    Footer
============= */

.footer {
    .content {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;

        h3 {
            color: white;
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;

            h6 {
                color: white;
                text-align: center;
            }

            p {
                color: white;
                text-align: center;
            }

            .top {
                grid-template-columns: 25% 25% 25% 25%;
                text-align: center;
            }

            .bottom {
                    grid-template-columns: 25% 25% 25% 25%;
            }
        }
    }
    .background{
        background-color:#896446;
        grid-area: background;
    }
}