/* =============
    Header
============= */


.header{
    .content{
        display: grid;
        grid-template-columns: 25% 50% 12.5% 12.5%;
        text-align: center;

        h2{
            text-align: center;
        }

        h3{
            text-align: center;
        }

        .logo{
            grid-template-columns: 100%;
        }
    }
}